* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
/****************************************************************/

.container {
  margin: 50px 0 20px 0;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
  font-weight: lighter;
}

h2 {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.842);
  font-weight: 50;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/****************************************************************/
.container--2 {
  height: 300px;
  margin: 0 auto;
}

h3 {
  color: #339af0;
}

span {
  color: #6f767c;
}

.img-- {
  position: relative;
  top: 0;
  left: 600px;
}

.lang--1 {
  position: relative;
  top: -250px;
  left: 525px;
}

.lang--2 {
  position: relative;
  top: -235px;
  left: 495px;
}

.lang--3 {
  position: relative;
  top: -215px;
  left: 470px;
}

.lang--4 {
  position: relative;
  top: -195px;
  left: 490px;
}

.lang--5 {
  position: relative;
  top: -172px;
  left: 520px;
}

.lang--6 {
  position: relative;
  top: -450px;
  left: 790px;
}
.lang--7 {
  position: relative;
  top: -430px;
  left: 830px;
}

.lang--8 {
  position: relative;
  top: -410px;
  left: 860px;
}

.lang--9 {
  position: relative;
  top: -390px;
  left: 830px;
}

.lang--10 {
  position: relative;
  top: -370px;
  left: 790px;
}

/****************************************************************/

.container--3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.box--1 {
  height: 45px;
  width: 400px;
  border-style: solid;
  border-color: #adb5bd;
  border-width: 1.9px;
}

.svg {
  height: 45px;
  width: 50px;
  background-color: #339af0;
}

.svg-- {
  width: 28px;
  height: 28px;
}

/****************************************************************/

.s {
  margin-top: 40px;
  position: relative;
  height: 300px;
}

.s1--1 {
  position: absolute;
  top: 10px;
  left: 100px;
}

.s1--2 {
  position: absolute;
  top: 140px;
  left: 100px;
}

.f-1,
.i-1 {
  position: absolute;
  top: 10px;
  left: 540px;
}

.f-2,
.i-2 {
  position: absolute;
  top: 10px;
  left: 860px;
}

.f-3,
.i-3 {
  position: absolute;
  top: 10px;
  left: 1100px;
}

.f-4,
.i-4 {
  position: absolute;
  top: 80px;
  left: 540px;
}

.f-5,
.i-5 {
  position: absolute;
  top: 80px;
  left: 860px;
}

.f-8,
.i-8 {
  position: absolute;
  top: 80px;
  left: 1100px;
}

.f-6,
.i-6 {
  position: absolute;
  top: 150px;
  left: 540px;
}

.f-7,
.i-7 {
  position: absolute;
  top: 150px;
  left: 860px;
}

.f-9,
.i-9 {
  position: absolute;
  top: 150px;
  left: 1100px;
}

.icon-- {
  width: 42px;
  height: 42px;
}

.i-1 {
  left: 470px;
}

.i-7 {
  left: 470px;
}
.i-8 {
  left: 470px;
}

.i-2 {
  left: 780px;
}

.i-4 {
  left: 780px;
}
.i-6 {
  left: 780px;
}

.i-3 {
  left: 1040px;
}
.i-5 {
  left: 1040px;
}
.i-9 {
  left: 1040px;
}
/************************************************************/

.icon--2 {
  height: 55px;
  width: 55px;
  position: relative;
  top: 12px;
  left: 28px;
}

.icon--3 {
  height: 55px;
  width: 55px;
  position: relative;
  top: 145px;
  left: -30px;
}

.side-bar {
  margin-bottom: 30px;
  color: #6f767c;
  text-align: center;
  padding-top: 15px;
}

.s1--text {
  color: #4e5255;
  line-height: 18px;
}

.st-- {
  background-color: #9fa9ad41;
}

#clr {
  color: #2e49e6a6;
}

footer {
  padding-top: 15px;
}
